@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --app-bg-primary: #ffffff;
  --app-bg-secondary: #f9fafb;
  --app-text-primary: #1f2937;
  --app-text-secondary: #6b7280;
  --app-bg-third: #e4ebf1;
  --active-text-color: #3b82f6;
  --text-color: #bfcbd9;
  --background-color-sidebar: #304156;
}

html.dark {
  --app-bg-primary: #1a2029;
  --app-bg-secondary: #222832;
  --app-text-primary: #ffffff;
  --app-text-secondary: #a8a8a8;
  --app-bg-third: #222832ce;

  --el-bg-color: #1a2029;
  --el-bg-color-overlay: #1a2029;
  --el-text-color-primary: #f1f5f9;
  --el-text-color-regular: #cbd5e1;
  --el-border-color: #334155;
  --el-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--app-bg-primary);
  color: var(--app-text-primary) !important;
  transition:
    background-color 0.3s,
    color 0.3s;
}

* {
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
